In [18]:
import pandas as pd
#melb_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\melb_data.csv', sep=',')
bike_data = pd.read_csv('data\citibike-tripdata.csv', sep=',')

In [48]:
data_df = bike_data.copy()

In [36]:
#Сколько пропусков в столбце start station id?
#bike_data.info()
print(bike_data['start station id'].mode()[0])

281.0

In [ ]:
bike_data.info()

In [37]:
#Кто больше занимается велоспортом — мужчины или женщины? 
male_count = data_df[data_df['gender'] == 1].shape[0]
female_count = data_df[data_df['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [52]:
#удаляем столбцы
data_df = data_df.drop(['start station id', 'end station id'], axis=1)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  trip duration            300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(4), object(3)
memory usage: 29.8+ MB

In [44]:
#заменяем столбец дата рождения на возраст
data_df['age'] = 2018 - data_df['birth year']
data_df.drop(['birth year'], axis=1, inplace=True)
print(data_df[data_df['age'] > 60].shape[0])

11837

In [55]:
#создание нового признака длительности поездки
data_df['starttime'] = pd.to_datetime(data_df['starttime'])
data_df['stoptime'] = pd.to_datetime(data_df['stoptime'])
data_df['trip duration'] = (data_df['stoptime'] - data_df['starttime']).dt.seconds
display (round(data_df['trip duration'].mean(), 2))

999.91

In [58]:
#создание признака выходных дней и его фильтрация
weekday = data_df['starttime'].dt.dayofweek
data_df['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
data_df['weekend'].sum()

115135

In [59]:
#создание признака ночь или день
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
data_df['time_of_day'] = data_df['starttime'].dt.hour.apply(get_time_of_day)
a = data_df[data_df['time_of_day'] == 'day'].shape[0]
b = data_df[data_df['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9