In [5]:
import pandas as pd
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [7]:
print(countries.loc[['US', 'RU', 'UK']])

print(countries.iloc[1:4])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object
CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

DataFrame

In [9]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [10]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [11]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [12]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
#или 
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [17]:
display(pd.DataFrame([[0,1], [1, 0]], columns=['А', 'B']))
display(pd.DataFrame({'А': [0, 1], 'B': [1, 0]}))

   А  B
0  0  1
1  1  0

   А  B
0  0  1
1  1  0