In [1]:
import pandas as pd
citibike = pd.read_csv('C:\\Users\\Oil Energy\\DataScience_New\\data\\citibike-tripdata.csv', sep=',')
#citibike = pd.read_csv('C:\\Users\\admin3.URTREK\\Documents\\Data_science\\DataScience_New\\data\\melb_data.csv', sep=',')

In [2]:
display(citibike.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
#количество непустых строк (count);
#количество уникальных значений (unique);
#самое частое значение — мода —  (top);
#частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.
citibike.describe(include=['object'])

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 19:44:40.3680,2018-09-01 15:57:41.0310,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

In [7]:
#количество пропусков
citibike.isnull().sum()

starttime                    0
stoptime                     0
start station id           169
start station name         169
start station latitude       0
start station longitude      0
end station id             169
end station name           169
end station latitude         0
end station longitude        0
bikeid                       0
usertype                     0
birth year                   0
gender                       0
dtype: int64

In [8]:
#определение какие типы данных имеют столбцы
citibike[['starttime', 'stoptime']].dtypes

starttime    object
stoptime     object
dtype: object

In [14]:
citibike['start station id'].value_counts().idxmax()

np.float64(281.0)

In [15]:
#список столбцов
citibike.columns

Index(['starttime', 'stoptime', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'bikeid', 'usertype', 'birth year', 'gender'],
      dtype='object')

In [16]:
#самый популярный байк
citibike['bikeid'].value_counts().idxmax()

np.int64(33887)

In [17]:
citibike['usertype'].value_counts().idxmax()

'Subscriber'

In [ ]:
код для сортировки по времени

SyntaxError: invalid syntax (235833512.py, line 1)