In [39]:
import pandas as pd
melb_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\melb_data.csv', sep=',')

In [56]:
display(melb_data.iloc[3521:3522, 14:15])
display(melb_data.iloc[1690:1691, 14:15])
round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'])

      Landsize
3521     234.0

      Landsize
1690      84.0

3

Вывод первых 5-ти строк (5 по умолчанию)

In [ ]:
display(melb_data.head())

Вывод последних 7-ми строк

In [ ]:
melb_data.tail(7)

In [59]:
#размерность таблицы
melb_data.shape

(13580, 23)

In [76]:
#melb_data.describe().loc[:,['Price','Distance','BuildingArea','Distance']]

melb_data.describe()

,index,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,6789.500000,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.611856,558.416127,139.633972,1966.788218,-37.809203,144.995216,7454.417378
std,3920.352663,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.960793,3990.669241,392.217403,29.088642,0.079260,0.103916,4378.581772
min,0.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,3394.750000,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,6789.500000,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,10184.250000,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,129.940000,1975.000000,-37.756400,145.058305,10331.000000
max,13579.000000,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [68]:
#количество непустых строк (count);
#количество уникальных значений (unique);
#самое частое значение — мода —  (top);
#частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,14 Arthur St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [ ]:
melb_data.info()

In [80]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [82]:
print(melb_data['Distance'].std())

5.868724943071692

In [83]:
#медианное значение 
landsize_median = melb_data['BuildingArea'].median() 
landsize_mean =  melb_data['BuildingArea'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)
# 0.21205713983546193

0.09764079662364533

In [85]:
#маска для фильтрации
melb_data[melb_data['Price'] > 2000000]

melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [99]:
melb_data[(melb_data['BuildingArea'] == 0) & (melb_data['Price']>85000)]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
4344,4344,North Melbourne,19 Shands La,2,t,841000.0,S,Jellis,4/03/2017,2.3,...,1.0,215.0,0.0,2000.0,Melbourne,-37.79530,144.94370,Northern Metropolitan,6821.0,"-37.7953, 144.9437"
12226,12226,Balwyn North,14 Wanbrow Av,5,h,1950000.0,S,RT,3/09/2017,9.7,...,2.0,743.0,0.0,1949.0,NaN,-37.80235,145.09311,Southern Metropolitan,7809.0,"-37.80235, 145.09311"
12249,12249,Bundoora,22 Moreton Cr,3,h,814000.0,S,Barry,3/09/2017,12.1,...,2.0,542.0,0.0,1970.0,NaN,-37.70861,145.05691,Northern Metropolitan,10175.0,"-37.70861, 145.05691"
12395,12395,Roxburgh Park,16 Sandover Dr,4,h,570000.0,S,Raine,3/09/2017,20.6,...,2.0,504.0,0.0,2000.0,NaN,-37.61419,144.93448,Northern Metropolitan,5833.0,"-37.61419, 144.93448"
12412,12412,Thornbury,19/337 Station St,3,t,900000.0,VB,Jellis,3/09/2017,7.0,...,2.0,120.0,0.0,2000.0,NaN,-37.76343,145.02096,Northern Metropolitan,8870.0,"-37.76343, 145.02096"
13040,13040,Prahran,6 Aberdeen Rd,3,h,1390000.0,S,Marshall,19/08/2017,4.6,...,1.0,125.0,0.0,2002.0,NaN,-37.85257,145.00296,Southern Metropolitan,7717.0,"-37.85257, 145.00296"
13207,13207,Huntingdale,33 Beauford St,3,h,1205000.0,SA,FN,23/09/2017,12.3,...,4.0,622.0,0.0,1960.0,NaN,-37.90823,145.10851,Southern Metropolitan,768.0,"-37.90823, 145.10851"
13348,13348,Balwyn North,1 Hosken St,5,h,2800000.0,S,Marshall,26/08/2017,9.7,...,2.0,1173.0,0.0,1960.0,NaN,-37.80385,145.09094,Southern Metropolitan,7809.0,"-37.80385, 145.09094"
13370,13370,Brighton East,60 Cummins Rd,3,h,1650000.0,SP,Buxton,26/08/2017,10.3,...,2.0,623.0,0.0,1920.0,NaN,-37.92698,145.02673,Southern Metropolitan,6938.0,"-37.92698, 145.02673"
13380,13380,Bundoora,37 Greenwood Dr,4,h,815000.0,S,Ray,26/08/2017,12.1,...,1.0,525.0,0.0,1965.0,NaN,-37.70765,145.05556,Northern Metropolitan,10175.0,"-37.70765, 145.05556"
13402,13402,Craigieburn,28 Powell St,3,h,412500.0,S,RE,26/08/2017,20.6,...,1.0,197.0,0.0,2012.0,NaN,-37.57687,144.91100,Northern Metropolitan,15510.0,"-37.57687, 144.911"
13411,13411,Epping,26 Lowalde Dr,3,h,595000.0,S,hockingstuart,26/08/2017,19.6,...,2.0,536.0,0.0,1980.0,NaN,-37.64972,145.04086,Northern Metropolitan,10926.0,"-37.64972, 145.04086"
13434,13434,Glen Iris,6 Viva St,4,h,2690000.0,PI,Marshall,26/08/2017,7.3,...,2.0,647.0,0.0,1910.0,NaN,-37.86133,145.04167,Southern Metropolitan,10412.0,"-37.86133, 145.04167"
13468,13468,Kew,16 Hodgson St,5,h,3450000.0,PI,Kay,26/08/2017,5.4,...,2.0,668.0,0.0,2006.0,NaN,-37.80795,145.01474,Southern Metropolitan,10331.0,"-37.80795, 145.01474"
13472,13472,Kilsyth,17 Birkenhead Dr,3,h,803000.0,S,Max,26/08/2017,26.0,...,2.0,862.0,0.0,1970.0,NaN,-37.79902,145.32092,Eastern Metropolitan,4654.0,"-37.79902, 145.32092"
13499,13499,Moorabbin,7 Walsh Av,3,h,1290000.0,S,Ray,26/08/2017,14.3,...,1.0,580.0,0.0,1970.0,NaN,-37.94492,145.04938,Southern Metropolitan,2555.0,"-37.94492, 145.04938"
13521,13521,Port Melbourne,44 Garton St,4,t,2455000.0,SP,Marshall,26/08/2017,3.5,...,2.0,123.0,0.0,2010.0,NaN,-37.83349,144.94840,Southern Metropolitan,8648.0,"-37.83349, 144.9484"

In [90]:
display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"