In [21]:
#импорт базы и вывод первых 5-ти строк
import pandas as pd
melb_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\melb_data.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [22]:
#копирование базы в новую переменную.
melb_df = melb_data.copy()

#labels — порядковые номера или имена столбцов, которые подлежат удалению; если их несколько, то передаётся список;
#axis — ось совершения операции, axis=0 — удаляются строки, axis=1 — удаляются столбцы;
#inplace — если параметр выставлен на True, происходит замена изначального DataFrame на новый, при этом метод ничего не возвращает; если на False — возвращается копия DataFrame без значений, подлежащих удалению, при этом первоначальный DataFrame не изменяется; по умолчанию параметр равен False.

melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1.0,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2.0,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [23]:
#сложение всех комнат

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5.0
1         5.0
2         8.0
3         8.0
4         8.0
         ...
13575    10.0
13576     8.0
13577     8.0
13578     9.0
13579     9.0
Length: 13580, dtype: float64

In [ ]:
#средняя площадь одной комнаты для каждого обьекта

melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

In [ ]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

In [24]:
price_square = melb_df['Price'] **2
display(price_square)

0        2.190400e+12
1        1.071225e+12
2        2.146225e+12
3        7.225000e+11
4        2.560000e+12
             ...
13575    1.550025e+12
13576    1.062961e+12
13577    1.368900e+12
13578    6.250000e+12
13579    1.651225e+12
Name: Price, Length: 13580, dtype: float64

Data Time

In [25]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [26]:
years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int64
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

In [40]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

8     0.136230
7     0.135125
5     0.121060
6     0.108174
3     0.103682
4     0.091753
9     0.087482
10    0.062887
11    0.055228
12    0.053387
2     0.024521
1     0.020471
Name: MonthSale, dtype: float64

In [27]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days)

0        71 days
1        92 days
2       458 days
3       458 days
4        96 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [28]:
#создадим признак возраста объекта недвижимости в годах на момент продажи
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0         46.0
1        116.0
2        117.0
3         47.0
4          2.0
         ...
13575     36.0
13576     22.0
13577     20.0
13578     97.0
13579     97.0
Name: AgeBuilding, Length: 13580, dtype: float64

In [29]:
melb_df = melb_df.drop('YearBuilt', axis=1)

In [30]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

melb_df['weekend_count'] = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
display(melb_df['weekend_count'])

0        9226
1        9226
2        9226
3        9226
4        9226
         ...
13575    9226
13576    9226
13577    9226
13578    9226
13579    9226
Name: weekend_count, Length: 13580, dtype: int64

Уникальные значения

In [31]:
#вычисление количества уникальных значений в столбце Адреса
print(melb_df['Address'].nunique())

13378

In [32]:
                            # На вход данной функции поступает строка с адресом.
def get_street_type(address):
                            # Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
                            # Метод split() разбивает строку на слова по пробелу.
                            # В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
                            # Обрезаем список, оставляя в нём только последний элемент,
                            # потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
                            # Делаем проверку на то, что полученный подтип является географической пометкой.
                            # Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
                            # Если переменная street_type является географической пометкой,
                            # переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
                            # Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [33]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [34]:
#уникальных значений
print(street_types.nunique())

56

In [ ]:
#частота видов улиц
display(street_types.value_counts())

In [35]:
#урезаем количество уникальных значчений до первых 10-ти, остальные перенесем в other
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [42]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [15]:
print(melb_df['StreetType'].nunique())

11

In [45]:
#melb_df = melb_df.drop('Address', axis=1)
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
print(round(melb_df[melb_df['Weekend']==1]['Price'].mean(), 2))

1083291.7

In [47]:
seller_types = melb_df['SellerG'].apply(get_seller_type)
print(seller_types)

NameError: name 'get_seller_type' is not defined

In [ ]:
popular_stypes =SellerG.value_counts().nlargest(10).index
print(popular_stypes)