In [1]:
import pandas as pd
student_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\students_performance.csv', sep=',')

In [ ]:
student_data.head(1000)

In [ ]:
student_data.info()

In [31]:
student_data.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

In [32]:
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [38]:
#student_data.info
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [47]:
display(student_data[student_data['lunch'] == 'standard']['math score'].mean())

display(student_data['parental level of education'].value_counts(normalize=True))

70.03410852713178

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [53]:
#Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C
#вывод модуля разницы чисел
student_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
student_mean =  student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
display(abs(student_median - student_mean))

5.827586206896555