In [5]:
import pandas as pd # Импорт библиотеки pandas — при выполнении последовательно всех примеров ниже, импорт библиотеки pandas выполняется один раз

countries_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\countries.csv', sep=';') # Загружаем данные из файла в переменную, создавая объект DataFrame
countries_data.to_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\countries.txt', index=False, sep=' ') # Выгружаем данные из DataFrame в CSV-файл и сохраняем файл в папке data

In [7]:
txt_df = pd.read_table('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\countries.txt', sep=' ', index_col=['country'])# Загружаем данные из файла в переменную, создавая объект DataFrame
display(txt_df) # Выводим содержимое DataFrame на экран

           population    square
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

In [9]:
melb_data = pd.read_csv('C:\\Users\\admin2\\Documents\\Python\\DataScience_New\\data\\countries.csv', header=None) # Загружаем данные из файла в переменную, создавая объект DataFrame
display(melb_data) # Выводим содержимое DataFrame на экран

                           0
0  country;population;square
1        Англия;56.29;133396
2       Канада;38.05;9984670
3         США;322.28;9826630
4     Россия;146.24;17125191
5        Украина;45.5;603628
6        Беларусь;9.5;207600
7    Казахстан;17.04;2724902